body {
	margin: 0;
    padding: 0;
	
    background: #f5f5f5;
    color: #333;

    font-family: Arial, sans-serif;
}

header {
    padding: 5px;
    text-align: center;

    background: #0073e6;
    color: white;
}

.nav-bar {
	display: flex;
}

.logo {
    display: flex;
    flex-direction: column;
	width: 80px;
}

.logo p {
	font-style: italic;
    font-weight: bold;
    font-size: 14px; 
}

.logo-text-up {
	margin-top: 1px;
	margin-bottom: 0;

	margin-right: 30%;
}

.logo-text-down {
	margin-top: 0;
	margin-bottom: 1px;

	margin-left: 30%;
}

.nav-but {
	display: none;
	cursor: pointer;
}

.nav-list {
	display: flex;
}

.nav-list a {
	display: block;

	margin-inline: 15px;
	padding: 10px;
	
	border: 2px solid none;
	border-radius: 15%;

	color:antiquewhite;
	text-decoration: none;
	font-weight: bold;
}

footer {
    padding: 10px;

    background-color: #333;
    color: white;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}


.nav-but:hover {
	background:#0260bf;
}

.nav-list a:hover {
	background:#0260bf;
}


@media (max-width: 800px) {
	.nav-bar {
		justify-content: space-between;
	}

	.nav-but {
		display: block;
		
		margin-left: 2px;
		padding-block: 1px;
		padding-inline: 10px;
		
		border: 2px solid #0073e6;
		border-radius: 15%;

		color: antiquewhite;
		background: #0073e6;
		
		font-size: 1.6em;
	}

	.nav-list {
		display: none;
	}
	
	.drop:hover .nav-list{
		display: block;
		position: absolute;
		right: 0;
		
		background: #0073e6;
	}
}
